language: python # Can use any language here, but if it's not 'python'
                 # it becomes necessary to pass '--user' to pip when installing hererocks.
sudo: false      # Use container-based infrastructure.

env:
  - LUA="lua 5.1"
  - LUA="lua 5.2"
  - LUA="lua 5.3"
  - LUA="luajit 2.0"
  - LUA="luajit 2.1"

before_install:
  - pip install hererocks
  - hererocks env --$LUA -rlatest    # Use latest LuaRocks, install into 'env' directory.
  - source env/bin/activate          # Add directory with all installed binaries to PATH.
  - luarocks install luacheck

script:
  - timeout 5 lua test/threads/spawn-child-and-die.lua
  - timeout 5 lua test/tcp/client-multi.lua
  - timeout 5 lua test/tcp/client-timeout.lua
  - timeout 5 lua test/udp/client-timeout.lua
  - luacheck .
