name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        luaVersion: 
          - "5.1"
          - "5.2"
          - "5.3"
          - "5.4"
          # - "luajit-2.0"
          # - "luajit-2.1"
        
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Dump matrix context
        env:
          MATRIX_CONTEXT: ${{ toJSON(matrix) }}
        run: echo "$MATRIX_CONTEXT"
      - uses: xpol/setup-lua@v0.3
        with:
          lua-version: ${{ matrix.luaVersion }}
      - uses: leafo/gh-actions-luarocks@v4
      - name: install luacheck
        run: luarocks install luacheck
      - name: install luasocket
        run: luarocks install luasocket
      - name: install luasec
        run: luarocks install luasec
      - name: try-protect
        run: timeout 5 lua test/error-handling/try-protect.lua
      - name: spawn-child-and-die
        run: timeout 5 lua test/threads/spawn-child-and-die.lua
      - name: basic channel
        run: timeout 5 lua test/channel/basic.lua
      - name: select channel
        run: timeout 5 lua test/channel/via-select.lua
      - name: tcp client-multi
        run: timeout 5 lua test/tcp/client-multi.lua
      - name: tcp client-timeout
        run: timeout 5 lua test/tcp/client-timeout.lua
      - name: tcp client-server-large-payload
        run: timeout 5 lua test/tcp/client-server-large-payload.lua
      - name: udp client-timeout
        run: timeout 5 lua test/udp/client-timeout.lua
      - name: ssl client-multi
        run: timeout 5 lua test/ssl/client-multi.lua
      - name: ssl client-timeout
        run: timeout 5 lua test/ssl/client-timeout.lua
      - name: http http
        run: timeout 5 lua test/http/http.lua
      - name: http https via ssl
        run: timeout 5 lua test/http/https-via-ssl.lua
      - name: http https via http
        run: timeout 5 lua test/http/https-via-http.lua
      - name: asyncify-works
        run: timeout 5 lua test/asyncify/asyncify-works.lua
